* {
  margin: 0;
}
body {
  font-family: sans-serif;
}
button {
  background-color: violet;
  padding: 20px;
  margin: 0 auto;
  display: block;
  border-radius: 5%;
  border: none;
  box-shadow: 2px 2px 2px #333;
}
h1 {
  padding: 20px;
  text-align: center;
}
h2 {
  padding: 20px;
  text-align: center;
}
div {
  text-align: center;
}
